table, td, th, tr {
    border: 5px solid black;
    margin-left: 30%;
    color: black;
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
    
  
    
  
  }